* {
  
  font-family: sans-serif;
  font-weight: 200;
  font-style: italic;



}


.read-the-docs {
  color: #f1eded;
}

.App-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 50px 0;

}

.App-tittle h1 {
  color: rgb(65, 49, 125);
  font-style: italic;
  display: inline-block;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.App-tittle p{
  font-size:15px;
  font-style: italic;
  padding: 5px;
  
}

.cards-container {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Dos columnas */
  gap: 30px;
  


}




.card {
  background-color: rgba(58, 136, 178, 0);
  border-radius: 5px;
  padding: 5%;
  margin-bottom: 20%;
  box-shadow:   0 1px 10px rgba(205, 197, 197, 0.458);
  /* margin: 1rem; */
  overflow: hidden;

 

}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color:#d9d7d62d;
 
  

}


.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1c1a1af0;
 
}



.card span {
  padding: 0%;

}


.card p {
  font-size: 16px;
  color: #b9b6b612;


}

.card p:hover{
  color: rgb(65, 49, 125);
  font-size:large;

}


.divCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.tittleCarousel {
  color: rgb(65, 49, 125);
  justify-self: center;
 

}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 30vh;
  width: 60vw;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 100px rgba(240, 242, 223, 0.5);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  transition: opacity 0.3s ease;

}

.buttons-container {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Dos columnas */
  grid-template-rows: repeat(4, 1fr);
  /* Cinco filas */
  gap: 10px;
  position: absolute;
  justify-items: center;
  height: 300px;
 
  background-size: cover;


}

.button-modal {

  padding: 0%;
  width: 50%;
  height: 10px;
  margin: auto;

}


img {
  width: 30%;
  margin: auto;
  
}

img:hover {

  transform: scale(1.05);
  transition: all 0.3s ease-in-out;


}


/*Especificas para SVG brillos*/
/* .brillo-svg{
  filter: drop-shadow(2px 4px 6px rgb(238, 253, 192) )
} */

.brillo-svg:hover {
  filter: invert();
 

}


/*Especificas para SVG CLOSE*/

.exit-button {
  height: 20%;
  cursor: pointer;

}

.Footer {
 
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100wh;
  z-index: -1;
  bottom: 0;

}